<%- include ('../partials/navbar') %>
<br>
<div class="container">
    <h3>BOOK DATA:</h3>
    <ul>
        <li><strong>Title:</strong> <%= book.title %></li>
        <li><strong>Category:</strong> <%= book.category %></li>
        <li><strong>Author:</strong> <%= book.author %></li>
    </ul>
</div>
<br>
<%- include ('../partials/footer') %>